body{

	background-color: #53e3a6;
	font-family: sans-serif;
	font-weight: 300px;
	color:white;
}

.container {

	max-width:600;
	margin: auto;
	padding:80px;
	height:400px;
	text-align:center; 
	margin-top: 5%;

}

form{


	margin:20px 0px;
	position:relative;

}

form-input{

    outline: 0;
    border:1px solid rgba(255,255,255,0.4);
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
    padding:10px 15px;
    margin:10px auto 20px auto;
    display:block;
    text-align: center;
    font-size:18px;
    color:white;
    -webkit-transition-duration:0.25s;
             transition-duration:0.25s;
             font-weight: 200px;
}


form-input:hover
{
   background-color: white;
}

form-input:focus
{

background-color:white;
width:300px;
color:#53e3a6;

}

form-button
{

	background-color: white;
	outline: 0;
	border:0;
	padding:10px 150x;
	color:#53e3a6;
	border-radius: 3px;
	width:250px;
	cursor:pointer;
	font-size: 18px
	
}